<div id="page">
        <img src="assets/img/SproutLogoBackground.png" class="tree" />
        <div class="page">
                <div class="spins">
                        <img src="assets/img/SproutSymbol.png" class="rotateToReduce" id="image"/>
                </div>
        </div>
        <div id="buttons">
                <button [ngStyle]="{'background-color': reduceActive ? '#79916e' : '#303a2c'}" id="reduce" class="componentButton" (click)="updateSelectedComponent('reduce')">reduce</button> 
                <button [ngStyle]="{'background-color': reuseActive ? '#79916e' : '#303a2c'}" id="reuse" class="componentButton" (click)="updateSelectedComponent('reuse')">reuse</button> 
                <button [ngStyle]="{'background-color': recycleActive ? '#79916e' : '#303a2c'}" id="recycle" class="componentButton" (click)="updateSelectedComponent('recycle')">recycle</button> 
        </div>
        <div id="routingButtons">
                <button *ngIf="reduceActive" id="reduceRoute" class="routeToComponentButton" routerLink="/reduce">Learn more about reducing your carbon footprint</button> 
                <button *ngIf="reuseActive" id="reuseRoute" class="routeToComponentButton" routerLink="/reuse">Find creative ways to upcycle your used items</button> 
                <button *ngIf="recycleActive" id="recycleRoute" class="routeToComponentButton" routerLink="/recycle">Find your closest recycling facility</button> <br />
                <button id="quizRoute" class="routeToComponentButton" routerLink="/quiz">Think you're an expert? Take our quiz and prove it!</button> 
        </div>
        <p id="activeFacts">
                {{ activeFacts }}
        </p>
</div>




